# Data Extraction & Environment
requests>=2.31.0
python-dotenv>=1.0.0

# Database & DWH Connectors
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.0

# Data Transformation (dbt)
dbt-postgres>=1.8.0

# UI & Visualization
pandas>=2.2.0
streamlit>=1.35.0
plotly>=5.20.0

# Code Quality & Linting
ruff>=0.4.0
